
<h1 class="text-center">Calculadora de Edades</h1>
<router-outlet />

{{edadUno}}
{{edadDos}}
<br>

<br><br>
Edad Uno: <input type="number" name="edadUno" [(ngModel)]="edadUno">
<br>
Edad Dos: <input type="number" name="edadDos" [(ngModel)]="edadDos">
<br><br>
<button class="btn btn-primary me-md-2" (click)="handlerCalcular()">
  Calcular
</button>

<button class="btn btn-secondary me-md-2" (click)="handleLimpiar()"> Limpiar cuadros de Texto</button>

<br>
<h2> Suma : {{sumaEdades}}</h2>
<h2> Promedio : {{promedioEdades}}</h2>

<!-- <app-login></app-login> -->
<!-- <app-error></app-error> -->